@font-face {font-family: "NTF-Grand-Regular"; src: url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.eot"); src: url
("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.eot?#iefix") format("embedded-opentype"), url
("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.woff") 
format("woff"), url("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.ttf") format("truetype"), url
("//db.onlinewebfonts.com/t/b30ffe63cc57ffdba315d296d0ca85b0.svg#NTF-Grand-Regular") format("svg"); }

section.calendar-display{
width:100%;
display:flex;
flex-wrap:wrap;
flex-direction:column;
align-items:center;
}

section.date-time{
display:flex;
flex-wrap:wrap;
flex-direction:column;
align-items:center;
margin-top:5vh;
width:50vh;
box-shadow: 5px 5px 1px hsla(50,50%,5%,.33);

}

section>div{
display:inline-block;
width:100%;
text-align:center;
font-family:NTF-Grand-Regular, sans-serif;
letter-spacing:5px;
color:white;
text-shadow: 3px 3px 3px hsla(200,100%,5%,.75);
}

div.month{
text-transform:uppercase;
font-size:10vmin;
}

div.month, div.year{
padding:.5rem 0px;
background-color:hsla(215,50%,30%,1);
}

div.day, div.clock{
background-color:hsla(210,60%,20%,1);
padding:.5rem 0px;
font-variant-numeric:tabular-nums;
}

div.weekday{
font-size:8vmin;
background-color:hsla(210,25%,50%,1);
padding:.2rem 0px;
}

div.day{
font-size:30vmin;
}

div.year{
font-size:20vmin;
font-variant-numeric:tabular-nums;
}

div.clock{
font-size:10vmin;
}



div.month, div.year{
padding:5px 0px;
background-color:hsla(215,50%,30%,1);
}

div.day, div.clock{
background-color:hsla(210,60%,20%,1);
padding:5px 0px;
font-variant-numeric:tabular-nums;
}

div.weekday{
font-size:2em;
background-color:hsla(210,25%,50%,1);
padding:2px 0px;
}

div.day{
font-size:7em;
}

div.year{
font-size:4em;
font-variant-numeric:tabular-nums;
}

div.clock{
font-size:3em;
}





